*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('bg\ image.png');
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.taskbar{
    width: 100%;
    background-color: #f0e0d2;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    /* z-index: 110; */
   
   
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px;
   

}

.startmenu{
    position: absolute;
     /* bottom: 50px; */
    bottom: -710px;
    width: 100%;
    text-align: center;
    transition: all 0.1s ease-in;
}



.startmenu img{
    height: 700px;
    width: 630px;
    border-radius: 8px;
}

.icons{
    color: white;
    width: 50px;
    padding-top: 8px;
    padding-left: 8px;
}
